In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Retail.csv',encoding='latin')

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Transactions from the Database,NaN,NaN,#Transactions in which\n the item is bought,Support,NaN
1,"1 : { Pencils, Markers, Highlighters, Papers}",NaN,Pencils,2,0.2,NaN
2,"2 : {Markers, Erasers}",NaN,Markers,6,0.6,NaN
3,"3 : {Stapler Pins, Papers, Erasers, Card Holde...",NaN,Highlighters,3,0.3,NaN
4,"4 : {Papers, Erasers, Cad Holders}",NaN,Papers,4,0.4,NaN

In [5]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (0.19.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from mlxtend) (1.1.5)
Requirement already satisfied: joblib>=0.13.2 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from mlxtend) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\saidh\anaconda3\envs\tensorflow\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)

In [6]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [7]:
te = TransactionEncoder()

In [8]:
te_ary = te.fit_transform(df)

In [9]:
df_updated = pd.DataFrame(te_ary, columns=te.columns_)

In [10]:
frequent_itemsets = apriori(df_updated, min_support=0.2, use_colnames=True)

In [11]:
frequent_itemsets

      support                  itemsets
0    0.333333                       ( )
1    0.333333                       (:)
2    0.333333                       (U)
3    0.333333                       (a)
4    0.333333                       (d)
..        ...                       ...
250  0.333333     (d, n,  , U, m, e, :)
251  0.333333     (d, n,  , a, m, e, :)
252  0.333333     (d, n,  , a, U, m, e)
253  0.333333     (d, n, U, a, m, e, :)
254  0.333333  (d, n,  , a, U, m, e, :)

[255 rows x 2 columns]

In [12]:
rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.6)

In [13]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( ),(:),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf
1,(:),( ),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf
2,( ),(U),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf
3,(U),( ),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf
4,( ),(a),0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf
...,...,...,...,...,...,...,...,...,...
6045,(a),"(d, n, , U, m, e, :)",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf
6046,(U),"(d, n, , a, m, e, :)",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf
6047,(m),"(d, n, , a, U, e, :)",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf
6048,(e),"(d, n, , a, U, m, :)",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf
6049,(:),"(d, n, , a, U, m, e)",0.333333,0.333333,0.333333,1.0,3.0,0.222222,inf